appdirs
arviz
bottleneck
brotlipy
cartopy
cmocean
copernicusmarine
dask
dvc
gcm_filters
geojson_rewind
geomet
geopandas
ghp-import
hvplot
jupyter-book
matplotlib
metpy
nbsphinx
netCDF4
numpy
numpy_groupies
opencv-python
pandas
pathlib
pint-xarray
pygbif
pyinterp
pytest
python-dwca-reader
rasterio
scipy
sphinx_copybutton
sphinx_rtd_theme
torch
torchaudio
torchvision
tqdm
tqdm
xarray
xesmf
xrft
zarr
